<!DOCTYPE html>
<html lang="en">
<head>
    <title>Test App</title>

    <!-- Libraries Local -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" >
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.min.js"></script>
    <!-- Libraries CDN-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>-->
    <!--<script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/angularFire/2.3.0/angularfire.min.js"></script>-->

    <script src="scripts/app.js"></script>
    <script src="scripts/fbService.js"></script>
    <script src="scripts/appController.js"></script>
</head>

<body ng-app="app" ng-controller="appController">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div ng-if="!showEdit">
                <br/>
                <br/>
                <input type="text" class="form-control" ng-model="newData.name" placeholder="Enter name...">
                <br/>
                <input type="text" class="form-control" ng-model="newData.contact" placeholder="Enter contact...">
                <br/>
                <input type="button" class="btn btn-default" ng-click="save(newData)" value="Save">
                <br/>
                <br/>
            </div>
            <div ng-if="showEdit">
                <br/>
                <br/>
                <input type="text" class="form-control" ng-model="editData.name">
                <br/>
                <input type="text" class="form-control" ng-model="editData.contact">
                <br/>
                <input type="button" class="btn btn-default" value="update" ng-click="edit(editData)">
                <br/>
                <br/>
            </div>
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Contact</th>
                    <th>Options</th>
                </tr>
                <tr ng-repeat="data in dataList">

                    <td>
                        {{data.id}}
                    </td>
                    <td>
                        {{data.name}}
                    </td>
                    <td>
                        {{data.contact}}
                    </td>
                    <td>
                        <input type="button" class="btn btn-info btn-xs" value="edit"
                               ng-if="!showEdit"
                               ng-click="enableEdit(data)">
                        <input type="button" class="btn btn-danger btn-xs" value="delete" ng-click="delete(data)">
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>
